.login{
    height: 85vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#74ebd5), to(#ACB6E5));
background-image: -webkit-linear-gradient(left, #74ebd5, #ACB6E5);
background-image: -moz-linear-gradient(left, #74ebd5, #ACB6E5);
background-image: -o-linear-gradient(left, #74ebd5, #ACB6E5);
background-image: linear-gradient(to right, #74ebd5, #ACB6E5);
}
.btn{
    background-color: #ACB6E5;
    color: #fff;
}